html, body {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    display: block;
  }
  

  #p5_loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #p5_loading p{
    font-family: "TheRaven-Regular", sans-serif;
    font-size: 2rem;;
  }